## Web Scrape: Rogue Ales

In [1]:
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup
import numpy as np
import pandas as pd
import seaborn as sns
sns.set(style="darkgrid")

In [2]:
my_url = 'https://www.rogue.com/beers'

#Opening up connection, grabbing the page
uClient = uReq(my_url)
page_html = uClient.read()
uClient.close()

In [3]:
#Parsing the html file, because it's a lot of text right now, into a variable
page_soup = soup(page_html, "html.parser")

#Test print, prints the header
page_soup.h1

In [4]:
#Grabs each product
containers = page_soup.findAll("li", {"class": "column product-grid-item is-half-mobile is-one-third-tablet is-one-third-widescreen is-one-quarter-fullhd"})

#How many objects did it find?
len(containers)

32

In [5]:
#Looking at the info for the first container
container = containers[0]
container

<li class="column product-grid-item is-half-mobile is-one-third-tablet is-one-third-widescreen is-one-quarter-fullhd">
<a href="https://www.rogue.com/beers/batsquatch">
<figure class="image">
<img alt="" src="https://www.rogue.com/thumbs/thumbs/cached-images/products/batsquatch/batsquatchactual_hero_image_can_trimmed_top-175x298.jpg"/> </figure>
<h5 class="title is-uppercase has-text-dark">BATSQUATCH</h5>
</a>
</li>

In [6]:
#Creating .csv file, instantiate write mode
filename = "abv_values.csv"
f = open(filename, "w")

headers = "ABV \n"

#Writing a header for the column
f.write(headers)

5

In [7]:
#Loops through the individual beers on the initial page
for container in containers:
    
    #Takes the link from the beer page, then accesses that link
    beer_url = container.a["href"]
    uClient = uReq(beer_url)
    beer_html = uClient.read()
    uClient.close()
    
    #Parses out the non-html code
    beer_soup = soup(beer_html, "html.parser")
    
    #Search for this particular class of div, what comes next is the abv
    tempcontain = beer_soup.findAll("div", {"class": "subtitle is-4 has-text-weight-light"})
    
    #Checks that the information contains three values. These are the abv, ibu, and srm. If
    #true, then add that value to the .csv file
    if len(tempcontain) == 3: 
        abv_val = tempcontain[0].span.text
        f.write(abv_val + "\n")
    
f.close()

In [8]:
df = pd.read_csv('abv_values.csv')
print(df.shape)
df.columns

(26, 1)

Index(['ABV '], dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 1 columns):
ABV     26 non-null float64
dtypes: float64(1)
memory usage: 336.0 bytes

In [10]:
df.head()

   ABV
0   6.7
1   6.8
2   5.5
3   4.8
4   6.9

In [11]:
df.describe()

            ABV
count  26.000000
mean    7.065385
std     1.992687
min     4.500000
25%     5.625000
50%     6.700000
75%     8.385000
max    13.600000

In [21]:
#sns.lineplot(x="ABV ", y="Test", data=df)